{% extends "launchpad/layout.html" %} 
{% load i18n %} 
{% load rest_framework %}
{% block content %}
<div>
<h1>  {% trans "Authorization Details" %}</h1>
<br>

<table  class="table">
    <thead>
        <tr>
            <th></th>
            <th></th>
        </tr>
    </thead>
    <tr>
        <td>  {% trans "Name" %}</td>
        <td>{{ authorization.title }}</td>
    </tr>
    <tr>
        <td>  {% trans "Operation Max Height" %}</td>
        <td>{{ authorization.operation_max_height }}</td>    
    </tr>
    <tr>
        <td>  {% trans "Operation Altitude system" %}</td>
        <td>{{ authorization.get_operation_altitude_system_display }}</td>    
    </tr>
    <tr>
        <td>  {% trans "Airspace Type" %}</td>
        <td>{{ authorization.get_airspace_type_display }}</td>    
    </tr>
   
    <tr>
        <td>  {% trans "Risk Type" %}</td>
        <td>{{ authorization.get_risk_type_display }}</td>    
    </tr>
   
   
    <tr>
        <td>  {% trans "Authorization Type" %}</td>
        <td>{{ authorization.get_authorization_type_display }}</td>    
    </tr>
   
   
</table>
<br>
<p><a class="btn btn-primary" href="/launchpad/authorizations/{{authorization.id}}"><b>Update Details</b></a></p>

</div>
{% endblock %}